@font-face {
    font-family: Eastman regular;
    src: url("../assets/fonts/Eastman/EastmanRomanTrial-Black.otf") format("opentype");
}

.container-custom{
    width: 95%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}

.custom-nav-items .item{
    /* border: 1px solid white; */
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.custom-nav-items .item-logo{
    /* border: 1px solid white; */
    width: 13%;
    text-align: center;
}

.nav-item{
    font-family: Eastman regular !important;
    margin: 0 !important;
    height: 100%;
}

@media screen and (max-width: 985px) {
    .container-custom{
        flex-wrap: inherit;
        justify-content: space-between
    }

    .custom-nav-items .item-logo{
        display: none;
    }
    
  }

.prueba{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.prueba .img-cont{
    width: 100%;
    height: 95%;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 985px) {
    .prueba .img-cont{
        width: 100%;
        height: 95%;
        position: absolute;
        top: 0;
    }
}


.prueba .img-cont img{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.custom-container-text{
    width: 50%;
    height: 75vh;
    position: relative;
    top: 80px;
    left: 125px;
    z-index: 100;
}

@media screen and (max-width: 985px) {
    .custom-container-text{
        width: 83%;
        height: 50%;
        border: 1px solid white;
        top: 100px;
        left: 60px;
        background: rgba(0, 0, 0, 0.626);
        padding: 1em;
    }
}

@media screen and (max-width: 535px) {
    .custom-container-text{
        width: 90%;
        top: 80px;
        left: 20px;
        background: rgba(0, 0, 0, 0.626);
        padding: 1em;
    }
}


.custom-container-text h3{
    color: red;
    text-transform: uppercase;
    font-size: 2.25em;
    font-weight: 500;
}

.custom-container-text h2{
    color: white;
    text-transform: uppercase;
    font-size: 4em;
}

.custom-container-text p{
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 1.25em;
}

.custom-container-text .text-description-1{
    width: 200px;
    height: 100px;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 10px;
}

.custom-container-text .text-description-2{
    width: 200px;
    height: 100px;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 10px;
    right: 200px;
}


@media screen and (max-width: 985px) {
    .mt-sm-custom{
        margin-top: 5em;
    }

    .custom-container-text .text-description-1{
        width: 100%;
        height: auto;
        position: inherit;
        margin-top: 1em;
    }

    .custom-container-text .text-description-2{
        width: 100%;
        height: auto;
        position: inherit;
        left: 0;
        margin-top: 1em;
    }

    .custom-container-text .text-description-1 p, .custom-container-text .text-description-2 p{
        font-size: 1em;
        line-height: auto;
        font-size: 1.1em;
    }

    .br-sm-none{
        display: none;
    }
    
}


#services h4{
    color: #e70909;
    text-transform: uppercase;
    width: 55%;
    margin: 0 auto;
    font-weight: bold;
}

.section-heading{
    font-size: 5em !important;
    font-weight: bold;
    margin: 0 !important;
    text-transform: uppercase;
}

.section-subheading{
    font-size: 1.75em !important;
    font-weight: bold;
    font-style: normal !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-transform: uppercase;

}


.color-red-custom{
    color: #e70909;
}

.color-white-custom{
    color: #ffff;
}

footer{
    background: black;
    color: white;
}